* {
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#threejs-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.layout {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

#middle {
    width: 70%;
    display: inline-block;
}

button {
    visibility: hidden;
}

.button {
    width: 15%;
}

.button:hover {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Adjust font size for better visibility */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    visibility: visible;
}

.view-text {
    visibility: hidden;
}