* {
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#threejs-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.layout {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

#middle {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0;
}

@font-face {
    font-family: 'magical';
    src: url('Assets/font/kawoszeh.ttf') format('truetype');
}

#Intro-Img {
    width: 20%;
    height: 35%;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #D4AF37, #FFD700, #D4AF37) 1;
    
}
#Intro-Text {
    font-size: xx-large;
    font-family: 'magical';
    user-select: none;
}

#Python-Text {
    font-size: xx-large;
    font-family: 'magical';
    user-select: none;
}

#Java-Text {
    font-size: xx-large;
    font-family: 'magical';
    user-select: none;
}

.Button-Text {
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 215, 0, 0.3);
    color: white;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #D4AF37, #FFD700, #D4AF37) 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-family: 'magical';
    transition: opacity 1s ease-in-out;
}

.button {
    width: 15%;
}

.button:hover .Button-Text {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.view-text {
    visibility: hidden;
}